$active-background-color: #007bff;
$hover-background-color: #006bb7;
$logout-hover-color: #aa0b2d;
$text-color: whitesmoke;
$font-weight-bold: bold;

.active {
  background-color: $active-background-color;
  color: white;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(15, 16, 19);
  padding-left: 10%;
  padding-right: 10%;

  .logo {
    text-align: center;
    margin-left: 5vh;
    margin-right: 50px;
    height: 80px;
  }

  .main-menu {
    display: flex;
    justify-content: left;
    gap: 20px;
    flex-grow: 1;
  }

  .user-actions {
    display: flex;

    .logged-in {
      display: flex;
      flex-direction: row;
      gap: 25px;
      padding-right: 20px;

      .cart-btn,
      .logout-btn {
        width: auto;
        text-align: center;
        text-decoration: none;
        font-weight: $font-weight-bold;
        font-size: 16px;
        border-radius: 8px;
        color: $text-color;
        padding: 8px 15px;
        transition: background-color 0.3s;

        &:hover {
          transition: background-color 0.5s ease;
        }
      }

      .cart-btn:hover {
        background-color: $hover-background-color;
      }

      .logout-btn:hover {
        background-color: $logout-hover-color;
      }

      .greeting {
        display: flex;
        flex-direction: row;

        .hello {
          width: auto;
          text-align: center;
          text-decoration: none;
          font-weight: $font-weight-bold;
          font-size: 16px;
          border-radius: 8px;
          color: $text-color;
          padding: 8px 15px;
        }

        .user-profile {
          width: auto;
          text-align: center;
          text-decoration: none;
          font-weight: $font-weight-bold;
          font-size: 16px;
          border-radius: 8px;
          background-color: #333;
          color: $text-color;
          padding: 8px 15px;
          transition: background-color 0.3s;

          &:hover {
            color: $text-color;
            background-color: $hover-background-color;
          }
        }
      }
    }

    .logged-out {
      display: flex;
      flex-direction: row;
      padding-right: 20px;
    }
  }

  .header-btn {
    border: none;
    cursor: pointer;
    width: 100px;
    text-align: center;
    text-decoration: none;
    font-weight: $font-weight-bold;
    font-size: 16px;
    border-radius: 8px;
    color: $text-color;
    padding: 8px 15px;
    transition: background-color 0.3s;
    margin-right: 15px;

    &:hover {
      background-color: $hover-background-color;
    }
  }
}
