@import "../Variables";
@import "../Functions";

.search-bar {
  z-index: 11000;
}

.search-input {
  padding: 10px;
  border-radius: 8px;
  margin-top: 50px;
  background-color: getColor(bg);
  padding-left: 20px;
  width: 82%;

  &:focus {
    outline-offset: -1px;
    outline: solid 2px getColor(nba-p);
  }
}

.search-btn {
  padding: 10px;
  margin-top: 50px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: whitesmoke;
  background-color: getColor(nba-p);
  cursor: pointer;

  &:hover {
    color: getColor(nba-p);
    background-color: whitesmoke;
  }
}

.not-found {
  padding-top: 15px;
  color: red;
  font-size: 16px;
  text-align: left;
}

.cancel-search {
  position: relative;
  left: 280px;
  top: -30px;
  background-color: red;
  color: whitesmoke;
  outline: none;
  border: none;
  border-radius: 50%;
  padding: 1px 7px;
  text-align: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    color: red;
    background-color: whitesmoke;
  }
}
