@import "../Variables";
@import "../Functions";
@import "../Mixin";

.site-media {
  display: flex;
  justify-content: center;
  min-height: 50vh;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-color: #6b6b6b;
}

.site-media:before {
  display: block;
  content: "";
  opacity: 0.8;
  background-color: rgb(32, 28, 28);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.section-info-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0.5em 0;
  height: auto;
  z-index: 1000;
}

.info-slogan {
  margin-top: 40px;
  font-size: 100px;
  text-align: center;
  text-transform: uppercase;
  color: getColor(text-p);
}

.info-subslogan {
  font-size: 20px;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
  color: getColor(bg-0);
}

.team-title {
  font-size: 100px;
  margin-top: 40px;
  text-align: center;
  text-transform: uppercase;
  color: getColor(text-p);
}

.team-name {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: -5em;
}

.location {
  color: getColor(bg-0);
  margin-top: 20px;
}

.like-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
}

.like-slogan {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, text-shadow 0.3s ease;
}

.like,
.liked {
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.liked {
  color: red;
}

.like:hover,
.liked:hover {
  color: #919191;
  color: rgb(252, 96, 96);
}

.like:active,
.liked:active {
  transform: scale(1.2);
}

.single-team-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .team-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;

    img {
      margin-top: -50px;
      z-index: 1000;
      height: auto;
    }
  }

  .team-info {
    margin-top: 50px;
    margin-bottom: 5em;
  }
}

.team-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.team-info {
  margin-top: 50px;
  margin-bottom: 5em;
}
