$bg-color: #f8f8f8;
$border-color: #ddd;
$text-color: #333;
$hover-bg-color: #ddd;
$padding: 8px 15px;
$gap: 20px;

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: getColor(bg);
  height: 60px;

  .logo {
    width: auto;
    height: 80px;
    text-align: center;
    margin-right: 15vh;
  }

  .main-menu {
    display: flex;
    justify-content: left;
    gap: $gap;
    flex-grow: 1;
  }

  .user-actions {
    display: flex;

    .logged-in {
      display: flex;
      flex-direction: row;
      gap: 25px;

      .cart-btn {
        width: auto;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        border-radius: 8px;
        color: getColor(bg-0);
        padding: $padding;
        transition: background-color 0.3s;

        &:hover {
          transition: background-color 0.5s ease;
          background-color: getColor(nba-p);
        }
      }

      .logout-btn {
        width: auto;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        border-radius: 8px;
        color: getColor(bg-0);
        padding: $padding;
        transition: background-color 0.3s;

        &:hover {
          transition: background-color 0.5s ease;
          background-color: getColor(nba-s);
        }
      }

      .greeting {
        display: flex;
        flex-direction: row;

        .hello {
          width: auto;
          text-align: center;
          text-decoration: none;
          font-weight: bold;
          font-size: 16px;
          border-radius: 8px;
          color: getColor(bg-0);
          padding: $padding;
        }

        .user-profile {
          width: auto;
          text-align: center;
          text-decoration: none;
          font-weight: bold;
          font-size: 16px;
          border-radius: 8px;
          background-color: getColor(bg-3);
          color: getColor(bg-0);
          padding: $padding;
          transition: background-color 0.3s;

          &:hover {
            transition: background-color 0.5s ease;
            color: getColor(bg-0);
            background-color: getColor(nba-p);
          }
        }
      }
    }

    .logged-out {
      display: flex;
      flex-direction: row;
    }
  }

  .header-btn {
    width: 100px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    color: getColor(bg-0);
    padding: $padding;
    transition: background-color 0.3s;

    &:hover {
      transition: background-color 0.5s ease;
      background-color: getColor(nba-p);
    }
  }
}
