.user-section {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: getColor(bg);

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;

    .slogan {
      color: whitesmoke;
      font-size: 100px;
      font-weight: bold;
    }

    .user-info {
      display: flex;
      flex-direction: column;
      color: getColor(bg-0);
      letter-spacing: 0.5rem;
      text-align: left;
      text-transform: uppercase;
      margin-left: 20px;

      div {
        color: getColor(bg-7);
        font-weight: 800;
      }

      .user-info-values {
        color: getColor(bg-0);
        font-weight: 800;
        letter-spacing: 0.2rem;
        margin-left: 10px;
      }
    }
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin-top: 20px;

    .create-card-btn {
      background-color: getColor(nba-p);
      color: getColor(bg-0);
      font-weight: bold;
      font-size: 16px;
      padding: 10px 15px;
      margin-right: 20px;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        background-color: getColor(bg-0);
        color: getColor(nba-p);
      }
    }

    .delete-user {
      background-color: getColor(nba-s);
      color: getColor(bg-0);
      padding: 10px;
      font-weight: bold;
      font-size: 16px;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        background-color: getColor(bg-0);
        color: getColor(nba-s);
      }
    }

    .manage-users {
      background-color: rgb(69, 49, 184);
      color: getColor(bg-0);
      padding: 10px;
      font-weight: bold;
      font-size: 16px;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        background-color: getColor(bg-0);
        color: rgb(69, 49, 184);
      }
    }
  }

  .user-items-topic {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 800;
    width: 550px;
    letter-spacing: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    border-left: 5px solid getColor(nba-p);
    color: getColor(bg-0);
  }

  .user-items {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    margin: auto;
  }

  .liked-items-topic {
    margin-top: 150px;
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 800;
    width: 550px;
    letter-spacing: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    border-left: 5px solid getColor(nba-p);
    color: getColor(bg-0);
  }

  .no-items {
    margin: auto;
    color: whitesmoke;
    font-size: 20px;
  }
}

.sideDistance{
  padding-left: 15%;
  padding-right: 15%;
}