.user-section {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: getColor(bg);

  .user-section-info {
    display: flex;
    flex-direction: row;
    align-items: center;

    .create-card-btn {
      background-color: getColor(nba-p);
      color: getColor(bg-0);
      padding: 10px 15px;
      margin-right: 10vw;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        background-color: getColor(bg-0);
        color: getColor(nba-s);
      }
    }

    .delete-user {
      background-color: getColor(nba-s);
      color: getColor(bg-0);
      padding: 10px;
      border-radius: 8px;
      cursor: pointer;


      &:hover {
        background-color: getColor(bg-0);
        color: getColor(nba-s);
      }
    }

    .user-info {
      color: getColor(bg-0);
      letter-spacing: 0.5rem;
      text-align: left;
      margin-right: 150px;
      text-transform: uppercase;

      color: getColor(bg-0);
      padding-right: 25px;

      div {
        color: getColor(bg-7);
        font-weight: 800;
      }

      .user-info-values {
        color: getColor(bg-0);
        font-weight: 800;
        letter-spacing: 0.2rem;
        margin-left: 10px;
        margin-right: 20px;
      }
    }
  }

  .user-items {
    margin-top: 50px;
    .user-items-topic {
      font-weight: 800;
      width: 550px;
      letter-spacing: 0.5rem;
      text-align: center;
      text-transform: uppercase;
      border-left: 5px solid getColor(nba-p);
      color: getColor(bg-0);
    }
  }

  .liked-items {
    margin-top: 50px;
    .liked-items-topic {
      font-weight: 800;
      width: 550px;
      letter-spacing: 0.5rem;
      text-align: center;
      text-transform: uppercase;
      border-left: 5px solid getColor(nba-p);
      color: getColor(bg-0);
    }
  }
}
