.teams-container-flexwrap {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .noteams {
    background-color: red;
    margin-top: 65px;
    height: 20px;
  }

  .division-title {
    font-size: 30px;
    margin-top: 70px;
    // background-color: rgba($color: black, $alpha: 0.3);
    width: 100%;
    text-align: center;

    &:before {
      content: "/ ";
      font-weight: 900;
      margin-left: 5.5%;
      color: getColor(nba-p);
    }
  }

  .team-card {
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #333;
    margin-top: 5em;
    margin: 1em;
    border-radius: 0px 0px 15px 15px;
    .card-name {
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
      color: getColor(bg-0);
    }
    .card-name:hover {
      background-color: getColor(nba-p);
      border-radius: 0px 0px 15px 15px;
    }
  }
}

.story-title {
  padding-top: 50px;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  gap: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.bottomDistance{
  margin-bottom: 50px;
}