.logoto-site-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: getColor(bg-0);
}

.section-info-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0.5em 0;
  height: auto;
  z-index: 1000;
}

.teams-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.team-name {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: -5em;
}

.location {
  color: getColor(bg-0);
}

.team-title {
  font-size: 100px;
  margin-top: 40px;
  text-align: center;
  text-transform: uppercase;
  color: getColor(text-p);
}

.single-team-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .team-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;

    img {
      margin-top: -50px;
      z-index: 1000;
      height: auto;
    }
  }

  .team-info {
    margin-top: 50px;
    margin-bottom: 5em;
  }
}
.site-content {
  height: auto;
  padding-bottom: 2em;
  padding-left: 20%;
  padding-right: 20%;
  color: getColor(text-p);
  background-color: getColor(bg-1);
}

.site-media {
  min-height: 50vh;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  @include flex-center;
}

.site-media:before {
  display: block;
  content: "";
  opacity: 0.8;
  background-color: rgb(15, 16, 19);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
