$colors: (
  bg: rgb(15, 16, 19),
  bg-0: whitesmoke,
  bg-1: #111,
  bg-3: #333,
  bg-5: #555,
  bg-7: #777,
  text-p: white,
  text-s: black,
  logo-p: #d94364,
  logo-t: #efe3e7,
  nba-p: #006bb7,
  nba-s: #aa0b2d,
  nba-t: #006dbb83,
  black: black,
  orange: rgb(177, 122, 20),
  green: rgb(107, 143, 34)
);
