.welcome-media {
  min-height: 50vh;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  &:before {
    display: block;
    content: "";
    opacity: 0.8;
    background-color: rgb(7, 7, 8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .welcome {
    @include flex-left;
    flex-direction: column;
    margin-top: 100px;
    padding: 25px;
    z-index: 1;

    .log-reg {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 2vh;

      p {
        margin-top: 2.5vh;
        color: getColor(bg-0);
        font-size: 16px;
        text-transform: uppercase;
      }

      .reg-login {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

      .login,
      .register {
        text-transform: uppercase;
        cursor: pointer;
        margin: 2vh;
        width: 150px;
        background-color: getColor(nba-p);
        font-size: 18px;
        color: white;
        padding: 0.25vh;
        border-radius: 8px;
        border: 2px solid getColor(nba-p);
      }

      .login:hover,
      .register:hover {
        background-color: getColor(bg-0);
        color: getColor(nba-p);
      }
    }
    .welcome-title {
      font-size: 100px;
      text-transform: uppercase;

      &:before {
        content: "/ ";
        font-weight: 900;
        color: getColor(nba-s);
      }
    }

    .welcome-subtitle {
      margin-left: 7%;
      font-size: 25px;
      letter-spacing: 10px;
      text-transform: uppercase;
      margin-bottom: 40px;
      color: getColor(bg-0);
      background-color: rgb(7, 7, 8);
      opacity: 0.8;
    }
  }
}
