
.itemToCardMsg {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 10000;
}

.itemToCardMsg.show {
  opacity: 1;
}
