@import "../../scss/Variables";
@import "../../scss/Functions";

.modal-background {
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 1000;
}

.cart-container {
  position: absolute;
  top: 8%;
  right: 16%;
  width: 300px;
  background-color: whitesmoke;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 8px;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  width: 6%;
  height: 25px;
  text-align: center;
  align-content: center;
  font-weight: 500;
  color: getColor(bg);
  border: none;
  border-radius: 8px;
  padding: 0 2px 2px 2px;
  cursor: pointer;
  transition: all 0.25s ease;

  &:hover {
    color: whitesmoke;
    background-color: #ec1c49;
    width: 10%;
  }
}

.cart-list {
  list-style: none;
  padding: 0;
}

.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cart-item-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
}

.total-price {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  margin-top: 25px;
  border-top: solid 2px getColor(nba-p);
}

.price {
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
  
}

.player {
  letter-spacing: 1px;
  font-size: 15px;
}

.cancel {
  display: flex;
  justify-content: center;
  width: 18px;
  height: 18px;
  color: getColor(bg);
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  border: none;

  &:hover{
    color: white;
    background-color: red;
  }
}