.modal-background {
  background-color: rgba(0, 0, 0, 0);
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;

  .modal-box {
    width: 30%;
    max-width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 8px;
    background-color: #0e1113;
    color: whitesmoke;
    padding: 15px;
    margin-bottom: 100px;
    box-shadow: 0px 10px 20px 0 rgba(31, 28, 28, 0.8);
    z-index: 10;

    .modal-header {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      
      .modal-slogan {
        font-size: 40px;
        border-bottom: 6px solid #006bb7;
        margin-bottom: 20px;
        padding: 13px 0;
        width: 90%;
      }

      .esc {
        width: 6%;
        height: 25px;
        text-align: center;
        align-content: center;
        font-weight: 500;
        background-color: #aa0b2d;
        border-radius: 8px;
        padding: 0 2px 2px 2px;
        cursor: pointer;
        transition: all 0.25s ease;
      }
      .esc:hover {
        background-color: #ec1c49;
        width: 6%;
      }
    }

    .modal-textbox {
      background-color: #0e1113;
      font-size: 20px;
      padding: 8px 0 8px 8px;
      margin: 8px 0 8px 8px;
      border-bottom: 1px solid #006bb7;

      i {
        width: 16px;
        text-align: center;
        margin-right: 16px;
        color: rgb(77, 77, 77);
      }

      input {
        border: none;
        outline: none;
        background: none;
        color: whitesmoke;
        font-size: 16px;
        width: 80%;
      }
    }

    .modal-btn {
      width: 100%;
      background: #006bb7;
      border: 2px solid #006bb7;
      color: white;
      padding: 5px;
      font-size: 18px;
      cursor: pointer;
      border-radius: 8px;
      margin: 2vh 0 1vh 0;

      &:hover {
        background-color: whitesmoke;
        color: #006bb7;
      }
    }

    .forgot {
      width: 98%;
      cursor: pointer;
      padding: 5px;
      text-align: right;
      margin-right: 2%;
    }
    .forgot:hover {
      color: #f30035;
    }
  }

  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .error-message {
    color: red;
    margin-top: 10px;
  }
}
